@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>ShopWallet</title>
    <link rel="stylesheet" href="~/Content/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,700">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Kaushan+Script">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700">
    <link rel="stylesheet" href="~/Content/assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="~/Content/assets/fonts/ionicons.min.css">
    <link rel="stylesheet" href="~/Content/assets/css/Block-Responsive-Item-List.css">
    <link rel="stylesheet" href="~/Content/assets/css/Data-Table-1.css">
    <link rel="stylesheet" href="~/Content/assets/css/Data-Table.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.15/css/dataTables.bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/assets/css/Login-Form-Dark.css">
    <link rel="stylesheet" href="~/Content/assets/css/Sidebar-Menu-1.css">
    <link rel="stylesheet" href="~/Content/assets/css/Sidebar-Menu.css">
</head>
<body>
    @Html.Partial("_Sidebardashboard");
    <div class="row">
        <div class="col-4 py-3 mx-auto col-xl-4 col-lg-6 col-md-6 col-sm-12" style="min-width:300px;min-height:300px;">
            <div class="card" style="width:100%;height:100%;">
                <a href="#"><img class="img-fluid card-img-top" style="height:200px;" src="~/Content/assets/img/bourdelle.jpg"></a>
                <div class="card-body">
                    <h5>HR/Timesheet</h5>
                    <p>Paragraph</p>
                </div>
                <div class="card-footer text-center"><small><a href="#"><i class="fa fa-eye pr-1"></i>Visit virtually<br></a></small></div>
            </div>
        </div>
        <div class="col-4 py-3 mx-auto col-xl-4 col-lg-6 col-md-6 col-sm-12" style="min-width:300px;min-height:300px;">
            <div class="card">
                <a href="#"><img class="card-img-top" style="height:200px;" src="~/Content/assets/img/loft.jpg"></a>
                <div class="card-body">
                    <h5>Customers</h5>
                    <p>Paragraph</p>
                </div>
                <div class="card-footer text-center"><small><a href="#"><i class="fa fa-eye pr-1"></i>Visit virtually<br></a></small></div>
            </div>
        </div>
        <div class="col-4 py-3 mx-auto col-xl-4 col-lg-6 col-md-6 col-sm-12" style="min-width:300px;min-height:300px;">
            <div class="card">
                <a href="#"><img class="card-img-top" style="height:200px;" src="~/Content/assets/img/building.jpg"></a>
                <div class="card-body">
                    <h5>Wallet/Inventory</h5>
                    <p>Paragraph</p>
                </div>
                <div class="card-footer text-center"><small><a href="#"><i class="fa fa-eye pr-1"></i>Visit virtually<br></a></small></div>
            </div>
        </div>
        <div class="col-4 py-3 mx-auto col-xl-4 col-lg-6 col-md-6 col-sm-12" style="min-width:300px;min-height:300px;">
            <div class="card">
                <a href="#"><img class="card-img-top" style="height:200px;" src="~/Content/assets/img/loft.jpg"></a>
                <div class="card-body">
                    <h5>Vendors</h5>
                    <p>Paragraph</p>
                </div>
                <div class="card-footer text-center"><small><a href="#"><i class="fa fa-eye pr-1"></i>Visit virtually<br></a></small></div>
            </div>
        </div>
    </div>
    <script src="~/Content/assets/js/jquery.min.js"></script>
    <script src="~/Content/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
    <script src="~/Content/assets/js/agency.js"></script>
    <script src="~/Content/assets/js/Sidebar-Menu.js"></script>
</body>
</html>